/* hide dm guide */
body > svg.secret {
    display: none;
}

/* boring scrolling */
body {
    scroll-snap-type: initial;
}

/* scaling */
body > svg {
    width: 100%;
    max-width: 100%;
    height: unset !important;
    max-height: unset !important;
    /* max-height: 100%; */
    margin: 0;
}

body > svg.fixedscale {
    width: 8.5in;
    height: 11in;
    margin: 0 auto;
}

svg > foreignObject > section {
    width: 100% !important;
    height: 100% !important;
}

/* page breaks */
@media not print {
    body > svg {
        padding-bottom: 3px;
    }
}

/* print number sides */
svg.print-left section::after {
    left: 0 !important;
    right: unset !important;
    padding-right: unset !important;
    padding-left: .5in !important;
    justify-content: flex-start !important;
}

svg.print-left section::before {
    left: 0 !important;
    right: unset !important;
    transform: scaleX(-1);
}
