/**
* @theme custom
* @size a4 8.5in 11in
* @size book 6in 9in
* @size half-a4 5.5in 8.5in
* @size sixth-a4 3.3333in 4.25in
* @size 4:3 10in 7.5in
* @size 16:9 10in 5.63in
* @size 16:10 10in 6.25in
*/

@import "uncover";
/* @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Henny+Penny&display=swap');

/* Font */
:root {
  /* font-size: 16pt; */
  font-size: min(36pt, max(16pt, 1rem));
  letter-spacing: normal;
  text-align: left;
  --color-highlight: var(--color-foreground);
  --color-highlight-hover: var(--color-foreground);
}

h1,
h2,
h3,
h4 {
  letter-spacing: normal;
}

/* Page alignment */
section {
  padding: 0.5in;
}

section:not(.center) {
  align-content: start !important;
  justify-content: normal !important;
}

/* Remove pagination corner triangle */
section:after {
  --color-background-paginate: var(--color-background);
  --color-background: var(--color-background);
  font-size: 0.875rem;
  font-weight: bold;
}

/* Styled page types */
:root {
  --color-major: var(--color-foreground);
  --color-creation: #0072b2;
  --color-guide: #111111;
  --color-ability: #009e73;
  /* --color-quick: #ffd700; */
  --color-rules: #2c3e50;
  --color-creation-2: #a6cee3;
  --color-guide-2: #ffd700;
  --color-ability-2: #b2df8a;
  /* --color-quick-2: #f0e442; */
  --color-rules-2: #7f8c8d;
}

section.major h2 {
  border: 0.1in solid var(--color-major);
  text-align: center;
  padding: 0.1in;
}

/* page type color coding */
section::before {
  content: "";
  position: absolute;
  top: .5in;
  right: 0;
  height: 0;
  width: .2in;
  border-radius: 1in 0 0 1in;
}
section.creation::before {
  border-top: 3.09in solid var(--color-creation);
  border-bottom: 1.91in solid var(--color-creation-2);
}

section.rules::before {
  border-top: 1.91in solid var(--color-rules-2);
  border-bottom: 3.09in solid var(--color-rules);
}

section.ability::before {
  height: 1.55in;
  background: var(--color-ability-2);
  border-top: .95in solid var(--color-ability);
  border-bottom: 2.5in solid var(--color-ability);
}

section.guide::before {
  height: 1.55in;
  background: var(--color-guide-2);
  border-top: 2.5in solid var(--color-guide);
  border-bottom: .95in solid var(--color-guide);
}

/* printables buttons */
button,
label {
  font-size: 1rem;
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background: var(--color-background);
  color: var(--color-foreground);
  border-color: var(--color-foreground);
}

button.fliptheme,
label.fliptheme {
  background: var(--color-foreground);
  color: var(--color-background);
  border-color: var(--color-foreground);
}

@media print {
  .print-hide {
    display: none;
  }
}

/* tables */
td:empty {
  border: 0;
}

th[scope="row"] {
  writing-mode: sideways-lr;
  text-align: center;
  border: 0;
  border-right: 0.15rem solid var(--color-foreground);
  border-top: 0 !important;
  border-bottom: 0 !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

th[scope="row"][rowspan] {
  color: var(--color-background);
  background-color: var(--color-foreground);
  border: 0;
  border-top: 0.25em solid var(--color-background) !important;
}

th[scope="row"][colspan] {
  vertical-align: bottom;
}

/* toc */
span.toc_page_no {
  float: right;
}

p.toc_H2 {
  border-bottom: 0.15rem solid var(--color-foreground);
  font-weight: bold;
}

a.toc_anchor {
  max-width: calc(100% - 3ch);
  display: inline-block;
}

/* title page */
section.title table {
  font-family: "Bebas Neue", serif;
  margin-top: 5in;
}
section.title table th[scope="row"]{
  font-weight: normal;
  font-size: 21px;
  background: var(--color-foreground);
  color: var(--color-background);
  text-align: left;
  height: 3.75in;
}
section.title table h1 {
  font-weight: normal;
}
section.title table p {
  margin: 0;
  padding: 0;
}
section.title table .humanity {
  font-size: 3rem;
}
section.title table .blessed {
  font-family: "Henny Penny";
  font-size: 188px;
  line-height: 223px;
}
section.title table .endeavored {
  font-family: "Henny Penny";
  font-size: 120px;
  line-height: 138px;
}
section.title table + p,
section.title table + p + p,
section.title table + p + p + p {
  font-family: "Bebas Neue", serif;
  font-size: 21px;
  position: absolute;
  bottom: .5in;
}
section.title table + p {left: .5in}
section.title table + p + p {
  left: 50%;
  width: 2in;
  margin-left: -1in;
  text-align: center;
}
section.title table + p + p + p {right: .5in}

/* ability table style */
section.ability table,
section.guideability table {
  width: 100%;
  border: 0.15rem solid var(--color-foreground);
}

section.ability tbody td,
section.guideability tbody td {
  border-bottom: 0 !important;
}

/* code labels */
code {
  background: var(--color-background);
  color: var(--color-foreground);
  border: 0.1rem solid var(--color-foreground);
  border-radius: .5rem;
  font-weight: bold;
}

/* h4 for tables */
section h4 {
  font-size: inherit;
  font-weight: normal;
  margin-bottom: 0.75rem;
}

section h4:before {
  content: "Table: ";
  font-weight: bold;
}

/* printable character sheet */
section.char select,
section.char input,
section.char textarea {
  font-size: inherit;
  font-family: inherit;
  border: none;
  background: var(--color-background);
  color: var(--color-foreground);
  width: 100%;
}

section.char select {
  appearance: none;
}

section.char select,
section.char input {
  border-bottom: .1rem solid var(--color-foreground);
}

section.char thead,
section.char thead tr,
section.char th {
  border: none;
}

section.char table, section.char textarea {
  width: 100%;
  max-width: 100%;
}

section.char ul {
  padding-left: 1ch;
}

/* printable track */
section.track_table table td:nth-child(2){background: var(--color-creation)}
section.track_table table td:nth-child(3){background: var(--color-creation-2)}
section.track_table table td:nth-child(4){background: var(--color-ability)}
section.track_table table td:nth-child(5){background: var(--color-ability-2)}
section.track_table table td:nth-child(6){background: var(--color-guide-2)}
section.track_table table td:nth-child(7){background: var(--color-rules-2)}
section.track_table table td:nth-child(8){background: var(--color-rules)}
section.track_table table td:empty {
  height: 23mm;
  width: 23mm;
  padding: 0;
  border-color: var(--color-background);
  border-style: solid;
  border-width: 1mm 1mm;
}
section.track_table table tr:last-child td {
  border-radius: 0 0 5mm 5mm;
}
section.bw.track_table table td {
  background: var(--color-background);
  border-color: var(--color-foreground);
}
section.bw.track_table table {
  border-collapse: unset;
}
section.bw.track_table table th {
  border: 0;
}

/* second printable track */
section.track_table_2 table td {background: var(--color-ability)}
section.track_table_2 table td, section.track_table_2 table td:empty {
  height: 23mm;
  width: 46mm;
  padding: 0;
  border-color: var(--color-background);
  border-style: solid;
  border-width: 1mm 1mm;
  text-align: center;
  font-weight: bold;
}
section.track_table_2 table tr:nth-child(odd) td:last-child {
  border-radius: 0 10mm 0 0;
}
section.track_table_2 table tr:nth-child(even) td:last-child {
  border-radius: 0 0 10mm 0;
}
section.track_table_2 table tr:nth-child(even) td:first-child {
  border-radius: 10mm 0 0 0;
}
section.track_table_2 table tr:nth-child(odd) td:first-child {
  border-radius: 0 0 0 10mm;
}
section.track_table_2 table tr:first-child td:first-child {
  border-radius: 5mm 0 0 10mm;
}
section.track_table_2 table tr:last-child td:first-child {
  border-radius: 10mm 0 0 5mm;
}
section.bw.track_table_2 table td {
  background: var(--color-background);
  border-color: var(--color-foreground);
}
section.bw.track_table_2 table {
  border-collapse: unset;
}
section.bw.track_table_2 table th {
  border: 0;
}

/* printable rule cards */
section.rulecard .card_container {
  width: 7in;
  height: 7in;
  border: .5mm solid var(--color-foreground);
}
section.rulecard .card_stat {
  width: calc(100% / 8);
  height: 1.25in;
  float: left;
  display: grid;
  text-align: center;
  place-items: center;
  font-size: 30px;
}
section.rulecard .card_column {
  width: calc(50% - .375in);
  padding: .25in;
  padding-top: 0;
  float: left;
  font-size: 15px;
}
section.rulecard .card_column:last-child {
  padding-left: 0;
}
section.rulecard li p {
  margin: 0;
}

/* styled lists */
section:not(.char) ul, ol {
  padding-left: 2ch;
}

li::marker {
  font-weight: bold;
}

section.rules li > strong:first-child,
section.intro li > strong:first-child,
section.rules p > strong:first-child,
section.intro p > strong:first-child {
    background: var(--color-foreground);
    color: var(--color-background);
    border-radius: .5rem .5rem .5rem .1rem;
    padding: 0 .4rem;
}

/* padding fix for lists */
ol, ul {
  margin-bottom: 15px;
}

/* b&w for printing */
section.bw,
section.bw a,
section.bw:before {
  --color-foreground: black;
  --color-background: white;
  --color-highlight: black;
  --color-creation: black;
  --color-guide: black;
  --color-ability: black;
  --color-quick: black;
  --color-rules: black;
  --color-creation-2: white;
  --color-guide-2: white;
  --color-ability-2: white;
  --color-quick-2: white;
  --color-rules-2: white;
  background-image: none !important;
  background: var(--color-background) !important;
  color: var(--color-foreground) !important;
}

section.bw:not(.title) {
  padding-left: 0.5in !important;
}

section.bw figure {
  background: none !important;
}

section.bw code {
  background: white;
  color: black;
  border: 0.1rem solid black;
  border-radius: .5rem;
  font-weight: bold;
}

section.bw.rules li > strong:first-child,
section.bw.intro li > strong:first-child,
section.bw.rules p > strong:first-child,
section.bw.intro p > strong:first-child {
  background: white;
  color: black;
  border: .1rem solid black;
}

section.bw th[scope="row"][rowspan] {
  color: black;
  background-color: white;
}

section.bw .bw-hide {
  display: none;
}
