/**
* @theme custom
* @size a4 8.5in 11in
* @size half-a4 5.5in 8.5in
* @size sixth-a4 3.3333in 4.25in
* @size 4:3 10in 7.5in
* @size 16:9 10in 5.63in
* @size 16:10 10in 6.25in
*/

@import "uncover";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Font */
:root {
    font-size: 16pt;
    letter-spacing: normal;
    text-align: left;
    --color-highlight: var(--color-foreground);
    --color-highlight-hover: var(--color-foreground);
}

h1, h2, h3, h4 {
    letter-spacing: normal;
}

/* Page alignment */
section {
    padding: 1in;
}

section:not(.center) {
    align-content: start !important;
    justify-content: normal !important;
}

/* Remove pagination corner triangle */
section:after {
    --color-background-paginate: var(--color-background);
    --color-background: var(--color-background);
    font-size: 14pt;
    font-weight: bold;
}

/* Styled page types */
:root {
    --color-major: var(--color-foreground);
    --color-creation: #0072b2;
    --color-guide: #111111;
    --color-ability: #009e73;
    --color-quick: #ffd700;
    --color-rules: #2c3e50;
    --color-creation-2: #a6cee3;
    --color-guide-2: #555555;
    --color-ability-2: #b2df8a;
    --color-quick-2: #f0e442;
    --color-rules-2: #7f8c8d;
}

section.major h2 {
    border: .1in solid var(--color-major);
    text-align: center;
    padding: .1in;
}

section.creation {
    border-left: .5in solid var(--color-creation);
    border-image-slice: 20;
    border-image-source: repeating-linear-gradient(
        90deg,
        var(--color-creation)   0,
        var(--color-creation-2) 20px
    );
    padding-left: .5in;
}

section.guide {
    border-left: .5in solid var(--color-guide);
    border-image-slice: 20;
    border-image-source: repeating-linear-gradient(
        90deg,
        var(--color-guide)   0,
        var(--color-guide-2) 20px
    );
    padding-left: .5in;
}

section.ability {
    border-left: .5in solid var(--color-ability);
    border-image-slice: 20;    
    border-image-source: repeating-linear-gradient(
        90deg,
        var(--color-ability)   0,
        var(--color-ability-2) 20px
    );
    padding-left: .5in;
}

section.quick {
    border-left: .5in solid var(--color-quick);
    border-image-slice: 20;    
    border-image-source: repeating-linear-gradient(
        90deg,
        var(--color-quick)   0,
        var(--color-quick-2) 20px
    );
    padding-left: .5in;
}

section.rules {
    border-left: .5in solid var(--color-rules);
    border-image-slice: 20;    
    border-image-source: repeating-linear-gradient(
        90deg,
        var(--color-rules)   0,
        var(--color-rules-2) 20px
    );
    padding-left: .5in;
}

/* cover page buttons */
button, label {
    font-size: 16pt;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
    padding: 1em;
    margin-bottom: .5em;
    display: inline-block;
    background: var(--color-background);
    color: var(--color-foreground);
    border-color: var(--color-foreground);
}

button.fliptheme, label.fliptheme {
    background: var(--color-foreground);
    color: var(--color-background);
    border-color: var(--color-foreground);
}

@media print {
    button, label {
        display: none;
    }
}

/* tables */
th[scope=row] {
    border: 0;
    border-right: 3px solid var(--color-foreground);
}

td:empty {
    border: 0;
}

/* toc */
section.index p span.page_no, section.toc p span.page_no,
section.index span span.page_no, section.toc span span.page_no {
    float: right;
}

section.toc .chapter {
    border-bottom: 3px solid var(--color-foreground);
}

section.index {
    columns: 2;
}

/* title page */
section.title {
    padding-left: 1em;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
}

section.title h1 {
    font-size: 62pt;
}

section.title p:last-child {
    position: absolute;
    bottom: 1in;
    right: 1in;
}

/* hover of h3 */
/* section h1 a,
section h2 a,
section h3 a,
section h4 a,
section.ability th a {
    color: var(--color-foreground) !important;
} */

/* ability table style */
section.ability table,
section.guideability table {
    width: 100%;
    border: 3px solid var(--color-foreground);
}

section.ability tbody td,
section.guideability tbody td {
    border-bottom: 0 !important;
}

/* dont color anchors on print */
@media print {
    a {
        color: var(--color-foreground) !important;
    }
}

/* b&w for printing */
@media print {
    section.bw {
        --color-foreground: black;
        --color-background: white;
        --color-highlight: black;
        border-left: none !important;
    }

    section.bw:not(.title){
        padding-left: 1in !important;
    }

    section.bw figure {
        background: none !important;
    }

    section.bw img.emoji {
        display: none;
    }

    section.bw code {
        background: var(--color-background);
        color: var(--color-foreground);
        border: 1px solid var(--color-foreground);
    }
}

/* h4 for tables */
section h4 {
    font-size: inherit;
    font-weight: normal;
    margin-bottom: 15px;
}

section h4:before {
    content: "Table: ";
    font-weight: bold;
}

/* code labels */
section code {
    border-radius: 8pt;
    color: #202228; /* --color-foreground in light mode */
    --color-background-code: var(--color-ability-2);
}

/* styling that escapes marp containment */

